<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h4>Users</h4>
        </div>
        <div>
            <a href="/addUser" type="button">+ add user</a>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Enail</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(res => {%>
                <tr>
                    <th><%- res.id %></th>
                    <td><%- res.first_name %></td>
                    <td><%- res.last_name %></td>
                    <td><%- res.enail %></td>
                    <td><%- res.phone %></td>
                    <td>
                        <a href="/viewUser/<%- res.id %>">view</a>
                        <a href="/editUser/<%- res.id %>">edit</a>
                        <a href="/<%- res.id %>">delete</a>
                    </td>
                </tr>
            <%}) %>
        </tbody>
    </table>
</body>
</html>